<h2>Hoy</h2>
<img ng-src="images/{{getIconToprediction()}}.svg">
<div class="row" >
	<table class="table" >
		<tr>
			<th>Monto máximo pronosticado</th>
			<td>{{today.aff_im_txn_max | currency}}</td>
		</tr>
		<tr>
			<th>Monto minimo pronosticado</th>
			<td>{{today.aff_im_txn_min | currency}}</td>
		</tr>
		<tr>
			<th>Transacciones máximo pronosticado</th>
			<td>{{today.aff_to_txn_max | number:0}}</td>
		</tr>
		<tr>
			<th>Transacciones minimo pronosticado</th>
			<td>{{today.aff_to_txn_min | number:0}}</td>
		</tr>
	</table>
</div>