<h1>Predicción de ventas</h1>
<form>
	  <div class="form-group">
	    	<label for="cliente">Cliente</label>
	    	<input type="cliente" class="form-control" id="cliente" placeholder="Cliente">
	  </div>
	  <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span> Predecir</button>
</form>
<div id="results" class="row" >
	<div class="col-sm-6 today" >
	</div>
	<div class="col-sm-6" >
		<div class="prediction-week" >
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">Monto</a></li>
			  <li role="presentation"><a href="#">Transacciones</a></li>
			</ul>
			<div>
				<d3-bars data="d3Data"></d3-bars>
			</div>
			<div>
				<d3-bars data="d3Data"></d3-bars>
			</div>
		</div>
		<div class="tips" >
		</div>
	</div>
</div>