<div class="row inputDataForm">
	<div class="col-xs-12 col-md-3">
		<div class="form-group">
			<input class="form-control" id="client" type="text" ng-model="client" placeholder="ID del cliente" >
		</div>
	</div>
	<div class="col-xs-12 col-md-3">
		<div class="form-group">
			<input class="form-control" id="initDate" type="text" ng-model="initDate" placeholder="Fecha Inicio" >
		</div>
	</div>
	<div class="col-xs-12 col-md-3">
		<div class="form-group">
			<input class="form-control" id="endDate" type="text" ng-model="endDate" placeholder="Fecha fin" >
		</div>
	</div>
	<div class="col-xs-12 col-md-3">
		<div class="form-group">
			<a href="#" class="form-control btn btn-block btn-success" ng-click="voodoMagic();"><i class="fa fa-line-chart" aria-hidden="true" ></i> Voodo Magic!</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="results" class="row" >
			<div class="col-sm-6 today" ui-view="today">
			</div>
			<div class="col-sm-6" >
				<div class="tips" ui-view="tips"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="prediction-week col-xs-12" ui-view="prediction"></div>
</div>